<ion-view title="Change Primary Account" id="page9">
  <ion-content padding="true" class="has-header">
    <h3 id="changePrimaryAccount-heading29" style="color:#6E6E6E;font-weight:400;">Bank Accounts linked with your Mobile Number are</h3>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="changePrimaryAccount-list10">
      <ion-item id="changePrimaryAccount-list-item32" ui-sref="tabsController.accountChangeSuccessful()">Standard Chartered 2407</ion-item>
      <ion-item id="changePrimaryAccount-list-item33" ui-sref="tabsController.accountChangeSuccessful()">HDFC Bank 2145</ion-item>
      <ion-item id="changePrimaryAccount-list-item34" ui-sref="tabsController.accountChangeSuccessful()">ICICI Bank 3321</ion-item>
    </ion-list>
  </ion-content>
</ion-view>