<ion-view title="Change Pay Code" id="page11">
  <ion-content padding="true" class="has-header">
    <h2 id="changePayCode-heading32" style="color:#6E6E6E;">Enter Current Pay Code</h2>
    <form id="changePayCode-form5" class="list">
      <div class="spacer" style="height: 70px;"></div>
      <label class="item item-input" id="changePayCode-input4">
        <span class="input-label">Current Pay Code</span>
        <input type="password" placeholder="">
      </label>
    </form>
    <a ui-sref="tabsController.newPayCode()" id="changePayCode-button24" style="font-weight:500;" class="button button-balanced button-block icon-right ion-ios-arrow-thin-right">Next</a>
  </ion-content>
</ion-view>