<ion-view title="Home 2" hide-nav-bar="true" id="page3" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <div class="spacer" style="width: 300px; height: 20px;"></div>
    <h2 id="home2-heading1" style="color:#000000;text-align:center;">Welcome Anirudh.</h2>
    <div class="spacer" style="width: 300px; height: 55px;"></div>
    <h4 id="home2-heading4" style="color:#6E6E6E;font-weight:400;text-align:center;">Wallet Balance</h4>
    <h2 id="home2-heading3" style="color:#000000;font-weight:400;text-align:center;">₹ 1,430.20</h2>
    <div class="spacer" style="width: 300px; height: 55px;"></div>
    <button id="home2-button8" style="font-weight:500;" class="button button-balanced button-block icon-left ion-card">Add Money</button>
    <div class="spacer" style="width: 300px; height: 1px;"></div>
    <button id="home2-button9" style="font-weight:500;" class="button button-dark button-block icon-left ion-android-refresh">Setup Automatic Deposit</button>
    <div class="spacer" style="width: 300px; height: 60px;"></div>
    <h3 id="home2-heading5" style="color:#000000;">Spending Insights</h3>
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider1" delegate-handle="slider1" id="home2-slider1" style="width:100%;height:170px;">
      <ion-slide-page id="home2-slide24" style="background:url(&quot;img/avfsZwJT9WGsBj982ul1_kitten1.jpg&quot;) no-repeat center;background-size:cover;background-color:#E0F6FF;" class="padding">
        <div style="display:table;width:100%;height:100%;">
          <div style="display:table-row;">
            <div style="display:table-cell;vertical-align:middle;">
              <h4 id="home2-heading7" style="color:#6E6E6E;font-weight:400;">Households</h4>
              <h2 id="home2-heading6" style="color:#000000;font-weight:300;">₹ 10,254.50</h2>
            </div>
          </div>
        </div>
      </ion-slide-page>
      <ion-slide-page id="home2-slide28" style="background:url(&quot;img/avfsZwJT9WGsBj982ul1_kitten1.jpg&quot;) no-repeat center;background-size:cover;background-color:#FFF7E0;" class="padding">
        <div style="display:table;width:100%;height:100%;">
          <div style="display:table-row;">
            <div style="display:table-cell;vertical-align:middle;">
              <h4 id="home2-heading10" style="color:#6E6E6E;font-weight:400;">Apparels</h4>
              <h2 id="home2-heading11" style="color:#000000;font-weight:300;">₹ 50,750.00</h2>
            </div>
          </div>
        </div>
      </ion-slide-page>
      <ion-slide-page id="home2-slide27" style="background:url(&quot;img/avfsZwJT9WGsBj982ul1_kitten1.jpg&quot;) no-repeat center;background-size:cover;background-color:#E0FFE7;" class="padding">
        <div style="display:table;width:100%;height:100%;">
          <div style="display:table-row;">
            <div style="display:table-cell;vertical-align:middle;">
              <h4 id="home2-heading8" style="color:#6E6E6E;font-weight:400;">Movies and Entertainment</h4>
              <h2 id="home2-heading9" style="color:#000000;font-weight:300;">₹ 5,000.00</h2>
            </div>
          </div>
        </div>
      </ion-slide-page>
    </ion-slides>
    <div class="spacer" style="height: 50px;"></div>
    <a ui-sref="tabsController.transactionHistory()" id="home2-button10" style="font-weight:500;" class="button button-positive button-block button-outline">Transaction History</a>
    <div class="spacer" style="height: 30px;"></div>
    <div id="home2-button-bar2" class="button-bar">
      <button id="home2-button14" class="button button-dark button-block button-clear">Share App</button>
      <button id="home2-button15" class="button button-stable button-block button-clear">Report Bug</button>
    </div>
  </ion-content>
</ion-view>