<ion-view title="New Pay Code" id="page12">
  <ion-content padding="true" class="has-header">
    <h2 id="newPayCode-heading33" style="color:#6E6E6E;">Enter New Pay Code</h2>
    <form id="newPayCode-form7" class="list">
      <div class="spacer" style="height: 70px;"></div>
      <label class="item item-input" id="newPayCode-input5">
        <span class="input-label">New Pay Code</span>
        <input type="password" placeholder="">
      </label>
      <label class="item item-input" id="newPayCode-input6">
        <span class="input-label">Reenter New Pay Code</span>
        <input type="password" placeholder="">
      </label>
    </form>
    <a ui-sref="tabsController.payCodeChangeSuccessful()" id="newPayCode-button25" style="font-weight:500;" class="button button-balanced button-block icon-right ion-ios-arrow-thin-right">Next</a>
  </ion-content>
</ion-view>