<ion-view title="Preferences" hide-nav-bar="true" id="page4">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <div class="spacer" style="height: 20px;"></div>
    <h1 id="preferences-heading16" style="color:#000000;">Preferences</h1>
    <div class="spacer" style="height: 20px;"></div>
    <a ui-sref="tabsController.changePayCode()" id="preferences-button11" class="button button-positive button-block">Change Pay Code</a>
    <button id="preferences-button16" class="button button-positive button-block button-outline">Notification Settings</button>
    <button id="preferences-button18" class="button button-positive button-block button-outline">Help &amp; Support</button>
    <button id="preferences-button19" class="button button-positive button-block button-outline">About Us</button>
    <button id="preferences-button20" class="button button-positive button-block button-outline">Rate Us</button>
    <div class="spacer" style="height: 20px;"></div>
    <form id="preferences-form4" class="list">
      <ion-toggle toggle-class="toggle-positive" id="preferences-toggle3" name="Block Wallet">Block Wallet</ion-toggle>
      <button id="preferences-button17" class="button button-assertive button-block">Logout</button>
    </form>
  </ion-content>
</ion-view>