<ion-view title="Profile" hide-nav-bar="true" id="page2">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <div class="spacer" style="height: 20px;"></div>
    <h1 id="profile-heading13" style="color:#000000;">Profile</h1>
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <img src="img/Ov6xLUysRASpHIuh4tpE_Anirudh.png" style="display: block; width: 30%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h2 id="profile-heading14" style="color:#000000;font-weight:400;text-align:center;">Anirudh Goel</h2>
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="profile-list4">
      <ion-item id="profile-list-item21">+91 8130 622230
        <span class="item-note">Mobile</span>
      </ion-item>
      <ion-item id="profile-list-item22">BXxxxxxx0M
        <span class="item-note">PAN</span>
      </ion-item>
      <ion-item id="profile-list-item23">5201 23xx xx32
        <span class="item-note">Aadhar Number</span>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>