<ion-view title="Transaction History" id="page5">
  <ion-content padding="true" class="has-header">
    <div class="spacer"></div>
    <h1 id="transactionHistory-heading12" style="color:#000000;">Transaction History</h1>
    <div class="spacer" style="height: 20px;"></div>
    <form id="transactionHistory-form3" class="list">
      <label class="item item-input" id="transactionHistory-search1" name="Search Transactions">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Search Transactions">
      </label>
    </form>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="transactionHistory-list7">
      <ion-item class="item-icon-left item-icon-right assertive" id="transactionHistory-list-item24">
        <i class="icon ion-bag"></i>₹ 1200.00 BookMyShow
        <i class="icon ion-minus-round"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="transactionHistory-list6">
      <ion-item class="item-icon-left item-icon-right balanced" id="transactionHistory-list-item17">
        <i class="icon ion-social-usd"></i>₹ 70.00 Cashback
        <i class="icon ion-plus-round"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="transactionHistory-list8">
      <ion-item class="item-icon-left item-icon-right assertive" id="transactionHistory-list-item25">
        <i class="icon ion-bag"></i>₹ 240.00 Migros
        <i class="icon ion-minus-round"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="transactionHistory-list9">
      <ion-item class="item-icon-left item-icon-right assertive" id="transactionHistory-list-item26">
        <i class="icon ion-bag"></i>₹ 2000.00 HP Fuel
        <i class="icon ion-minus-round"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="transactionHistory-list11">
      <ion-item class="item-icon-left item-icon-right balanced" id="transactionHistory-list-item28">
        <i class="icon ion-social-usd"></i>₹ 5.00 Cashback
        <i class="icon ion-plus-round"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>